extends layout
block content
    .container
        h1
            u Contribute

        .container
             ul If you are an enthusiastic engineering student and are looking forward to dive into  opensource contributions, this can be the place to get things started. This is a level 1 project, that would help you understand many aspects of a website and infinitely great - the idea of opensource contribution(s). There are loads and loads of issues, features, bugs that can be given attention to. At the end you might also learn important tools and technologies such as <b> git </b> as the project is hosted on github. The project is exclusively built on one of the world's most popular scripting language <code> JavaScript </code>. The entire front end is in <code>Jade and jQuery </code> and the backend is on an mvc framework of nodejs ie <code>Express</code>. In future if logs need to be maintained we would be going for mongodb and I would be happy if the db client or the object relational manager comes from Jabalpur Engineering College itself. The only thing essential for contributing is <b> passion and hardwork </b>. Even the knowledge of JavaScript is not required. If you have it is a plus point and if you are absolutely new <b>IT ABSOLUTELY DOESN'T MATTER.</b>
             ul If you want to contribute and you don't know from where to start then you can start contributing to the letter templates. But unlike the above mentioned point you not only require <b> passion and hardwork </b> but also <i> sound knowledge about English language is mandatory</i>. Also you can contribute to documentations as well.

             ul This is a non academic venture and has nothing to do with your academic grade points. Also this is a non profit venture and has nothing to do with earning money. So, if you think this site is a commericial venture and will yield you some amount of money then please hit <code> Control + w </code> 
        .container
            .github
                center
                    a.btn.btn-primary(href="https://github.com/jec-dev") Visit Github
~