extends layout
block content

    body

        .container
            .h1
                underline Help
                <br>
            .h3 How to write Email ?
            li Well you don't have to write emails, thats the idea of the mail-client. All you need to do is fill in some information and select the issue that you are facing. The message body will autocomplete itself. All you need to do is to <b> proof read the email </b> and try to make some necessary changes with regards to your case.
            <br>
            .h3 How to Contribute ?
            li For contribution please click on the <code>Contribute </code> tab on top of the page.

