extends layout

block content
    .container
        .jumbotron
            .container
                h1 Mail-Client
    .container
        .row
            .col-md-4
                h2 Getting Started
                p Click here to get started with writing emails
                a.btn.btn-default(href="/mail") Getting Started
            .col-md-4
                h2 Developing and Contributing
                p Click here to find out how you can develop and contribute to this site
                a.btn.btn-default(href="/contribute") Contribute
            .col-md-4
                h2 Help
                p Click here to find out how to get started with the website or any query regarding how to contribute.
                a.btn.btn-default(href="/help") Help



