body {
  padding-top: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.jumbotron {
    background:url("../images/black.jpg");
}

a {
  color: #00B7FF;
}

footer {
    text-align: center;
    height: 40px;
    margin-top: 30px;
    padding-top: 10px;

}
